img{
    width:70px;
    height:70px;
    grid-row-start:1;
    grid-row-end:3;
}
ul{
    padding:0px;
}
li{
    display:grid;
    grid-template-rows:min-content,min-content;
    grid-template-columns:min-content min-content;
    justify-content:start;
    align-items:center;
    margin-top:10px;
    grid-column-gap:5px;

}

strong{
    grid-row:1;
    grid-column:2;
    font-size:15pt;
}
a{
    grid-row:2;
    grid-column:2;
    font-size: 14pt;
}